textarea {
  width: auto;

}
label {
  margin-right: 10px;
  margin-bottom: 10px;
}
.gpp-slika {
  height: 480px;
  width: 343px;
  margin: 10px;
}
p,
h1 {
  color: #fff;
}
h1 {
  text-align: center;
  font-weight: bold;
}


.slika{
  display: flex;
  gap: 50px;
  margin: auto; 
  
}